<!DOCTYPE html>

<html lang="en">
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>@ViewData["Title"] - SearchWebApp</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.min.js" asp-append-version="true"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" asp-controller="Search" asp-action="Index">SearchWebApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" asp-controller="Search" asp-action="Index">Search<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-controller="Search" asp-action="Results">Results</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <main class="mt-2 mb-5">
    @RenderBody()
  </main>
</div>

</body>
</html>