@model List<SearchWebApp.Models.SearchResult>

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>
@for (int i = 0; i < Model.Count; i++)
{
<div class="mb-3">
  <div class="mb-2">@(i + 1)</div>
  <div class="mb-2">@Model[i].Url</div>
  <div class="mb-2">@Model[i].Title</div>
  <div class="mb-2">@Model[i].Snippet</div>
</div>
}
